$color-1: #ca8a8b;
$color-1-d: #ba6768;
$color-1-dd: #2f1515;

$color-2: #e2bcb7;
$color-2-l: #ecd3cf;
$color-2-ll: #f6e6e4;
$color-2-lll: #faf2f1;

$color-3: #5b6d5b;
$color-3-d: #3c483c;
$color-3-dd: #0e100e;

// FONT VARIABLES

$font-h: "Frank Ruhl Libre";
$font-p: "Open Sans";

//madia

$desktop-large: 75em;
$laptop: 64em;
$tablet: 48em;
