.heading-1 {
  font-family: "Frank Ruhl Libre";
  font-size: 7.5rem;
  font-weight: 400;
  color: #f6e6e4;
  background-image: linear-gradient(to right bottom, rgba(91, 109, 91, 0.8), rgba(60, 72, 60, 0.8));
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
.heading-1 span {
  font-size: 5.5rem;
  padding-left: 0.5rem;
  text-transform: lowercase;
}

.heading-2 {
  font-family: "Frank Ruhl Libre";
  color: #f6e6e4;
  background-image: linear-gradient(to right bottom, rgba(91, 109, 91, 0.8), rgba(60, 72, 60, 0.8));
  font-weight: 400;
  font-size: 5rem;
  text-align: center;
}

.heading-3 {
  font-family: "Frank Ruhl Libre";
  color: #f6e6e4;
  background-image: linear-gradient(to right bottom, rgba(91, 109, 91, 0.8), rgba(60, 72, 60, 0.8));
  font-size: 4rem;
  font-weight: 400;
  text-transform: lowercase;
  text-align: center;
}

.heading-4--light, .heading-4--pr, .heading-4--kon {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 2.2rem;
  color: #ba6768;
}
@media screen and (max-width: 64em) {
  .heading-4--light, .heading-4--pr, .heading-4--kon {
    font-size: 2.5rem;
  }
}
.heading-4--light::after, .heading-4--pr::after, .heading-4--kon::after {
  display: block;
  height: 2px;
  background-color: #ba6768;
  content: " ";
  width: 25rem;
  margin: 0 auto;
  margin-top: 1.5rem;
}
.heading-4--pr {
  text-align: center;
}
.heading-4--kon {
  margin-bottom: 2.5rem;
}
.heading-4--gal, .heading-4--pop {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 2.2rem;
  color: #ba6768;
}
.heading-4--pop {
  margin-top: 1rem;
  margin-bottom: 3.5rem;
}

.heading-5 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1.8rem;
  color: #ba6768;
}
.heading-5--pr {
  text-transform: uppercase;
  color: white;
  padding: 1rem 2rem;
  background-image: linear-gradient(to right bottom, rgba(91, 109, 91, 0.9), rgba(60, 72, 60, 0.9));
}
.heading-5--kon {
  margin-top: 2.5rem;
  text-transform: uppercase;
  color: white;
  padding: 1rem 2rem;
  background-image: linear-gradient(to right bottom, rgba(91, 109, 91, 0.8), rgba(60, 72, 60, 0.8));
}

.btn,
.card__btn,
.creator__btn {
  background-color: rgba(202, 138, 139, 0.7);
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.9px;
  word-spacing: 2.5px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}
.btn:hover,
.card__btn:hover,
.creator__btn:hover {
  background-color: rgba(202, 138, 139, 0.9);
  color: #f6e6e4;
}
.btn:active,
.card__btn:active,
.creator__btn:active {
  transform: scale(0.97);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.15);
}

.card__btn,
.creator__btn {
  background-color: rgba(91, 109, 91, 0.7);
}
.card__btn:hover,
.creator__btn:hover {
  background-color: rgba(91, 109, 91, 0.9);
  color: #f6e6e4;
}

.front__text--1, .front__text--2, .front__text--3 {
  margin-top: 3rem;
  font-size: 1.6rem;
  font-family: "Open Sans";
  font-weight: 400;
  color: #2f1515;
}

.header {
  grid-column: 1/span 7;
  background-image: linear-gradient(rgba(186, 103, 104, 0.25), rgba(202, 138, 139, 0.35)), url("Hero.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 6rem;
  padding-top: 3rem;
  display: grid;
  grid-template-rows: 1fr repeat(3, min-content) 1fr;
  grid-template-columns: repeat(6, minmax(min-content, 14rem));
  grid-row-gap: 3rem;
  justify-content: center;
}
@media screen and (max-width: 64em) {
  .header {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 48em) {
  .header {
    grid-column: 1/span 8;
  }
}
.header .heading-3 {
  grid-column: 1/span 2;
  grid-row: 2;
}
.header .heading-1 {
  grid-column: 1/span 3;
  grid-row: 3;
}
.header .heading-2 {
  grid-column: 2/span 3;
  grid-row: 4;
}

.footer {
  grid-column: 1/span 10;
  padding: 7rem;
  background-color: #3c483c;
}
.footer .nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
  letter-spacing: 1.5px;
  word-spacing: 1.5px;
}
.footer .nav__link:link, .footer .nav__link:visited {
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
  display: block;
  transition: all 0.2s;
}
.footer .nav__link:hover, .footer .nav__link:active {
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateY(-3px);
}
.footer .copy {
  font-size: 1.4rem;
  color: #ecd3cf;
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}
@media screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans";
  color: #0e100e;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 100vh 70vh min-content;
  grid-template-columns: minmax(1fr, 3rem) repeat(8, 1fr) minmax(1fr, 3rem);
  grid-row-gap: 7rem;
}
@media screen and (max-width: 64em) {
  .container {
    grid-template-rows: 60vh min-content 100vh 70vh min-content;
  }
}

::-moz-selection {
  background-color: #ca8a8b;
  color: white;
}

::selection {
  background-color: #ca8a8b;
  color: white;
}

.creator {
  grid-column: 8/span 3;
  display: grid;
  grid-template-columns: minmax(2rem, 4rem) repeat(4, 1fr) minmax(2rem, 4rem);
  grid-template-rows: repeat(6, 1fr);
  align-content: center;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 2rem;
  z-index: 2;
  /*.heading-4--light {
      grid-column: 2 / span 4;
      grid-row: 4;
      align-self: end;
  }*/
}
@media screen and (max-width: 48em) {
  .creator {
    grid-template-rows: repeat(4, 1fr);
    grid-column: 9/span 2;
    grid-row-gap: 2rem;
  }
}
.creator .nav {
  grid-row: 1/span 1;
  grid-column: 2/span 4;
  align-self: start;
  justify-self: start;
  margin-top: 2rem;
}
@media screen and (max-width: 64em) {
  .creator .nav {
    align-self: center;
    justify-self: center;
  }
}
.creator .nav__list {
  display: flex;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}
@media screen and (max-width: 64em) {
  .creator .nav__list {
    flex-direction: column;
    align-items: center;
    justify-items: center;
    row-gap: 4rem;
  }
}
.creator .nav__item {
  list-style: none;
}
.creator .nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.3rem;
  color: #ca8a8b;
  position: relative;
  padding: 0.5rem;
}
@media screen and (max-width: 64em) {
  .creator .nav__link {
    font-size: 1.6rem;
  }
}
.creator .nav__link:hover {
  color: #ba6768;
}
.creator .nav__link:hover::after {
  width: 100%;
}
.creator .nav__link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: "";
  color: transparent;
  background-color: #ca8a8b;
  height: 1px;
}
.creator .nav__link, .creator .nav__link::after, .creator .nav__link::before {
  transition: all 0.5s;
}
.creator__logo {
  grid-column: 2/span 4;
  grid-row: 2/span 2;
  width: 70%;
  border-radius: 10px;
  justify-self: center;
  align-self: start;
}
.creator__photo {
  width: 8rem;
  border-radius: 50%;
  grid-row: 5/span 1;
  grid-column: 2/span 1;
  align-self: center;
  margin-left: 2rem;
  border: 2px solid #ba6768;
  margin-top: 3rem;
}
@media screen and (max-width: 48em) {
  .creator__photo {
    grid-row: 4/span 1;
    margin-top: 0;
  }
}
.creator__name {
  grid-column: 3/span 3;
  grid-row: 5/span 1;
  align-self: center;
  justify-self: start;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 2rem;
  color: #ba6768;
  margin-left: 2rem;
  text-transform: uppercase;
  margin-top: 3rem;
}
@media screen and (max-width: 48em) {
  .creator__name {
    grid-row: 4/span 1;
    margin-top: 0;
  }
}
.creator__btn {
  grid-row: 6/span 1;
  grid-column: 3/span 2;
  align-self: center;
}
@media screen and (max-width: 64em) {
  .creator__btn {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 48em) {
  .creator__btn {
    grid-row: 5/span 1;
    grid-column: 2/span 4;
    align-self: center;
    font-size: 1.3rem;
  }
}

.front {
  grid-column: 1/span 7;
  grid-row: auto;
  display: grid;
  grid-template-columns: minmax(2rem, 3rem) repeat(3, 1fr) minmax(2rem, 3rem);
  grid-row-gap: 4rem;
  grid-column-gap: 4rem;
  align-items: start;
  justify-content: center;
  text-align: justify;
}
.front .heading-4 {
  grid-row: 1/span 1;
  grid-column: 2/span 3;
  justify-self: center;
}
.front__text--1 {
  grid-row: 2;
  grid-column: 2/span 1;
}
.front__text--2 {
  grid-row: 2;
  grid-column: 3/span 1;
}
.front__text--3 {
  grid-row: 2;
  grid-column: 4/span 1;
}

.meni {
  grid-column: 8/span 3;
  display: grid;
  align-content: center;
  justify-content: start;
  justify-items: start;
  grid-row-gap: 5rem;
  padding-left: 5rem;
  border-left: 2px solid #e2bcb7;
}
.meni__lista {
  display: grid;
  grid-template-columns: min-content max-content;
  grid-column-gap: 2rem;
  grid-row-gap: 5vh;
  align-items: center;
}
.meni__slika {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 2px solid #ba6768;
}
.meni__tekst {
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #ba6768;
}

.proizvodi {
  background-image: linear-gradient(rgba(186, 103, 104, 0.2), rgba(202, 138, 139, 0.3));
  grid-column: 1/span 10;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10vh 80vh;
  grid-row-gap: 5rem;
  justify-items: center;
  align-items: center;
}
.proizvodi .heading-4--pr {
  grid-column: 2/span 1;
  justify-self: center;
  align-self: end;
}
.proizvodi .card {
  position: relative;
  background-color: white;
  grid-row: 2;
  width: 40rem;
  height: 90%;
  display: grid;
  grid-row-gap: 2rem;
  align-content: start;
  border-radius: 3px;
  overflow: hidden;
}
@media screen and (max-width: 64em) {
  .proizvodi .card {
    height: 80%;
  }
}
.proizvodi .card__photo {
  background-size: cover;
  height: 23rem;
}
.proizvodi .card__photo--1 {
  background-image: linear-gradient(rgba(202, 138, 139, 0.3), rgba(202, 138, 139, 0.3)), url("gotov-proizvod.jpeg");
}
.proizvodi .card__photo--2 {
  background-image: linear-gradient(rgba(202, 138, 139, 0.3), rgba(202, 138, 139, 0.3)), url("po-vasoj-mjeri.jpg");
}
.proizvodi .card__photo--3 {
  background-image: linear-gradient(rgba(202, 138, 139, 0.3), rgba(202, 138, 139, 0.3)), url("prepravke.jpeg");
}
.proizvodi .card__list {
  display: flex;
  justify-content: center;
  align-content: start;
}
.proizvodi .card__ul {
  list-style: none;
  padding: 0 1rem;
  width: 80%;
  color: #2f1515;
}
.proizvodi .card__item {
  font-size: 1.4rem;
  font-family: "Open Sans";
  font-weight: 400;
  margin: 1.2rem 0;
  text-align: center;
  padding: 0.5rem;
}
.proizvodi .card__item:not(:last-child) {
  border-bottom: 1px solid #ca8a8b;
}
.proizvodi .card__btn {
  justify-self: center;
  align-self: end;
  margin-bottom: 1.5rem;
}
.proizvodi .card .heading-5--pr {
  position: absolute;
  top: 20.5rem;
  right: 1rem;
  align-self: start;
  justify-self: center;
  background-image: linear-gradient(to right bottom, rgba(91, 109, 91, 0.9), rgba(60, 72, 60, 0.9));
}

.kontakt {
  grid-column: 2/span 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5rem;
  position: relative;
}
.kontakt .heading-5--kon {
  align-self: center;
  justify-self: end;
  margin-top: 8rem;
}
.kontakt__box {
  width: 41%;
  background-color: rgba(91, 109, 91, 0.8);
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  padding: 2rem 0;
}
@media screen and (max-width: 64em) {
  .kontakt__box {
    width: 55%;
  }
}
.kontakt__icon-box {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 2rem;
  justify-items: start;
  align-items: center;
  padding: 1rem 2rem;
}
.kontakt__icon {
  height: 3.5rem;
  width: 3.5rem;
  fill: #f6e6e4;
}
.kontakt__text, .kontakt__link {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.5rem;
  word-spacing: 1.5px;
  text-decoration: none;
  color: #f6e6e4;
}
@media screen and (max-width: 64em) {
  .kontakt__text, .kontakt__link {
    font-size: 1.7rem;
  }
}
.kontakt__text span {
  color: #ca8a8b;
  margin-right: 0.5rem;
}
.kontakt .video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.35;
  overflow: hidden;
}
.kontakt .video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  grid-column: 1/span 10;
  padding: 7rem;
  background-color: #3c483c;
}
.footer .nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
  letter-spacing: 1.5px;
  word-spacing: 1.5px;
}
.footer .nav__link:link, .footer .nav__link:visited {
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
  display: block;
  transition: all 0.2s;
}
.footer .nav__link:hover, .footer .nav__link:active {
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateY(-3px);
}
.footer .copy {
  font-size: 1.4rem;
  color: #ecd3cf;
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%;
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  grid-column: 1/span 10;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  display: grid;
  grid-template-columns: minmax(4rem, 1fr) repeat(2, 1fr) minmax(4rem, 1fr);
  align-items: center;
  justify-items: center;
}
.popup__content {
  grid-column: 2/span 2;
  background-color: #ca8a8b;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: minmax(2rem, 4rem) repeat(2, 1fr) minmax(2rem, 4rem);
  grid-template-rows: min-content min-content;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s 0.2s;
}
@media screen and (max-width: 64em) {
  .popup__content {
    grid-column: 1/span 4;
    width: 70%;
  }
}
.popup__box {
  grid-column: 2/span 2;
  grid-row: 2/span 1;
  background-color: white;
  display: grid;
  padding: 2.5rem;
  overflow: hidden;
  opacity: 0;
}
.popup__text {
  -moz-column-count: 2;
       column-count: 2;
  font-size: 1.4rem;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  text-align: justify;
  font-family: "Open Sans";
  font-weight: 400;
  color: #2f1515;
}
@media screen and (max-width: 64em) {
  .popup__text {
    font-size: 1.6rem;
  }
}
.popup .heading-4--pop {
  text-align: center;
}
.popup__close:link, .popup__close:visited {
  grid-column: 4/span 1;
  grid-row: 1/span 1;
  justify-self: center;
  color: #3c483c;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1;
}
.popup__close:hover {
  color: #5b6d5b;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
}
.popup:target .popup__box {
  opacity: 1;
}

/* Body & Image List Styles
-------------------------------------------------------------- */
.gallery {
  background: hsla(0, 0%, 99%, 0.8);
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  gap: 3rem;
}
.gallery img {
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 3rem;
}

.btn-back {
  background-color: rgba(23, 31, 23, 0.884);
  width: 10rem;
  height: 10rem;
  top: 0;
  left: 0;
  z-index: 3;
  position: fixed;
  font-size: 3rem;
}

@media only screen and (min-width: 1920px) {
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media only screen and (max-width: 1920px) {
  .gallery {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media only screen and (max-width: 1240px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}/*# sourceMappingURL=application.sass.css.map */